# Binaries for the current project
*.exe
*.dll
*.so
*.dylib
*.wasm

# Build artifacts
# Go build cache
.cache/go-build/

# IDE specific files
.idea/
.vscode/
.DS_Store

# Dependency caches
vendor/ # If you are using Go Modules and vendoring dependencies

# Test results
*.test
testdata/

# Log files
*.log

# App data / local settings
*.db
*.sqlite3
instance/
.env
